<?xml version="1.0"?>
<!--
  ~ Copyright © Websolute spa. All rights reserved.
  ~ See LICENSE and/or COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Websolute\TransporterMagentoDefaultStockMsi\Model\Catalog\Product\GetDefaultStockQuantityInterface"
                type="Websolute\TransporterMagentoDefaultStockMsi\Model\Catalog\Product\GetDefaultStockQuantity"/>
    <preference for="Websolute\TransporterMagentoDefaultStockMsi\Model\ResourceModel\SetDefaultStockMsiInterface"
                type="Websolute\TransporterMagentoDefaultStockMsi\Model\ResourceModel\SetDefaultStockMsi"/>
</config>
